@font-face {
  font-family: 'calculator';
  src: url('digital-7.ttf') format('truetype');
}

.zero { grid-area: zero; }
.one { grid-area: one; }
.two { grid-area: two; }
.three { grid-area: three; }
.four { grid-area: four; }
.five { grid-area: five; }
.six { grid-area: six; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.add { grid-area: add; }
.subtract { grid-area: subtract; }
.multiply { grid-area: multiply; }
.divide { grid-area: divide; }
.decimal { grid-area: decimal; }
.clear { grid-area: clear; }
.calculate { grid-area: calculate; }
.open { grid-area: open; }
.close { grid-area: close; }

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'calculator', sans-serif;
}
button {
  font-family: 'calculator', sans-serif;
  font-size: 36px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}
button:active{
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.calculator__keys{
  display: grid;grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'open close add subtract'
    'seven eight nine multiply'
    'four five six divide'
    'one two three clear'
    'zero zero decimal calculate';
  gap: 10px;
  height: 600px;
  width: 400px;
}

#display{
  min-width: 400px;
  height: 50px;
  border-radius: 10px;
  font-size: 42px;
  text-align: right;
  border-style: solid;
  border-width: 5px;
}

#error_display{
  height: 30px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
}

.invalid{
  border-color: red;
}